<!DOCTYPE html>
<html>
<head>
  <title>Classroom</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
   <link rel="stylesheet" href="ChartStylesheet.css" type="text/css" />

</head>
<body>

<%= yield %>

</body>
</html>
